/* Base style that gets applied to the whole page, This is to take out the default styles that HTML puts in place */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HEADER Styles: This section is dedicated to all the styles realated to header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* HEADING */
header h1 {
    display: inline;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* Navigation */
header nav{
    float:right;
    margin: 7px 0;
}

header nav ul {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-left: 25px;
}

/* Body Styles : This section is dedicated to all the styles related to the body of the page */
/* This style applies to the whole body of the page */
body {
    background-color: #d9dcd6;
}

/* This style applies to all the link references in the body */
body a {
    color: #ffffff;
    text-decoration: none;
}
/* styles paragragh element within the body */
p {
    font-size: 16px;
}

/* Hero/ Jumbotron Style */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Content Styles */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* All the images under Content div */
.content img{
    max-height: 200px;
    margin-right: 25px;
}
.social-media-marketing img{
    float:left;
} 
.online-reputation-management img{
    float:right;
}
.search-engine-optimization img{
    float:left;
}

/* All the H2 under Content div */
.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Benifits Styles */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits img {
    max-width: 150px;
    display: block;
    margin: 10px;
}
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Footer Styles : Last but not least its the footer styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
